
html, body{
    height: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #212121;
    /*color: #6c6f73  This will be less important text color*/
}

main {
    max-width: 100%;
    overflow-x: hidden;
    margin-top: 60px;
}

h1, h2, h3, h4, h5 {
    color: #212121;
    font-weight: 400;
}

h6 {
    font-size: 18px;
    font-weight: 300;
    color: #757575
}

p {
    padding: 20px 0px;
}

a {
    color: #3287FF;
}

img {
    width: 100%;
    height: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

hr {
    color: #BDBDBD;
    margin: 50px 0 50px 0;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

/* navbar */
.navbar-default {
    border-width: 0px;
    background-color: #203B61;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
/* title */
.navbar-default .navbar-brand {
    height: 70px;
    line-height: 70px;
    color: #FFF;
    font-size: 18px;
    padding: 0px 15px 0px 15px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFF;
}
/* link */
.navbar-default .navbar-nav > li > a {
    height: 70px;
    line-height: 70px;
    color: #FFF;
    font-size: 16px;
    padding: 0px;
    margin-left: 24px;
    outline: 0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFF;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #EEE;
    background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #FFF;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #FFF;
    border-bottom-color: #777;
}


.line {
    display: block;
    width: 250px;
    height: 3px;
    background: #FF5F4C;
}

.centered {
    margin: 0 auto;
    float: none;
    text-align: center;
}

.blockquote {
    font-size: 1.6rem;
    color: #333;
    border: none;
    padding: 0;
}

.blockquote-footer {
    margin: 1rem 0 0;
}

main {
    margin-top: 70px;
}

#stage{
    background: url('../images/background.png') center center no-repeat scroll;
    background-size: cover;
    color: #333;
    display: flex;
    min-height: 400px;
    align-items: center;
}

#stage-caption {
    font-size: 1.4rem;
    font-weight: 200;
}

#stage-caption h1 {
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}

section {
    font-size: 18px;
    line-height: 30px;
    padding: 8rem 0;
    overflow: hidden;
}

.section-heading {
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    /*text-transform: uppercase;*/
    font-size: 40px;
    margin: 10px 0px 10px 0px;
}

.minor-heading {
    font-weight: 400;
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin: 20px 0px 20px 0px;
}

.section-content {
    margin-top: 25px;
}

.love > div{
    padding: 20px 0px;
    text-align: center;
}

.love > div > img {
    height: 75px;
    width: auto;
}

#about {
    background-color: #FFF;
}

#projects {
    background-color: #EEE;
}

#contact {
    background-color: #EEE;
}

.contact-icons {
    text-align: center;
}

.contact-icons > div > p > a{
    color: #3287FF;
}


.footer {
    background-color: #333;
}



/*#feature-two {
    background-color: #DDD;
}*/